{% extends 'base_admin.html' %}
{% block content %}
{% load bootstrap3 %}
{% load render_table from django_tables2 %}



<form action="" method="post">{% csrf_token %}
    <input type="text" id="organization-search" onkeyup="search()" placeholder="Организация" class="table-search-filters">
	<input type="text" id="role-search" onkeyup="search()" placeholder="Должность" class="table-search-filters">
	<input type="text" id="fio-search" onkeyup="search()" placeholder="ФИО сотрудника" class="table-search-filters">
	<input type="text" id="name-search" onkeyup="search()" placeholder="Наименование КПЭ/КлС" class="table-search-filters">
	<button type="button" onclick="ClearFields();">Сбросить все фильтры</button>

  {% render_table table 'django_tables2/bootstrap.html' %}
	<button><a href = "{% url 'download_admin' %}">Выгрузить свод</a></button>

</form>
<script>
var input_organization = document.getElementById("organization-search");
var input_role = document.getElementById("role-search");
var input_fio = document.getElementById("fio-search");
var input_name = document.getElementById("name-search");

var table = document.getElementsByClassName("table");

function search() {
  let filter_organization = input_organization.value.toUpperCase();
  let filter_role = input_role.value.toUpperCase();
  let filter_fio = input_fio.value.toUpperCase();
  let filter_name = input_name.value.toUpperCase();


  let tr =table[0].rows;
  console.log(tr.length)
  for (let i = 1; i < tr.length; i++) {
    td = tr[i].cells;
    td_organization = td[3].innerHTML;
    console.log(td_organization)
    td_role = td[5].innerHTML;
    td_fio = td[4].innerHTML;
    td_name = td[7].innerHTML;


    if (td_role.toUpperCase().indexOf(filter_role) > -1 && td_fio.toUpperCase().indexOf(filter_fio) > -1 && td_name.toUpperCase().indexOf(filter_name) > -1
     && td_organization.toUpperCase().indexOf(filter_organization) > -1) {
      tr[i].style.display = "";
    } else
      tr[i].style.display = "none";
  }
};

function ClearFields() {

     document.getElementById("organization-search").value = "";
     document.getElementById("role-search").value = "";
     document.getElementById("fio-search").value = "";
     document.getElementById("name-search").value = "";

     window.location.reload();
};
</script>
{% endblock %}
